# IRC Options
sonofcim.channel=
sonofcim.nick=botname
sonofcim.server=irc.freenode.net

# Database Options
sonofcim.db.url=jdbc:mysql://localhost/irc
sonofcim.db.user=user
sonofcim.db.password=pass

# Yahoo Answers
sonofcim.yahoo.apikey=
sonofcim.yahoo.boss.apikey=

# Delicious
sonofcim.delicious.user=
sonofcim.delicious.password=
